<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vulnerable App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Vulnerable App</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/SqlInjection/Login">SQL Injection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Xss/Comment">XSS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Ssrf/FetchUrl">SSRF</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/PathTraversal/Download">Path Traversal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/CommandInjection/Ping">Command Injection</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-danger">WARNING: This is a deliberately vulnerable application. Do not use in production.</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>